
		body{background-color:rgb(150,180,225)}
		
		div#main{font-size:500%; text-align:center; color:red; text-shadow:blue 2px 2px 1px;}
		
		div#a{font-size:200%; color:purple; text-align:center; text-shadow:red 1px 1px 1px;}
		
		img{ height:250px; width:300px; display:block; margin:auto;}
		
	